:root {
    --font: 'Open Sans', sans-serif;
    --primary:#F7E02E;
    --white: white;
    --black: black;
    --bg-primary: #3e8595;

    --font:'Bungee Spice', cursive;
    --font2:'Roboto Condensed', sans-serif;
}
*{
    box-sizing: border-box;
}
img{
    max-width: 100%;
    height: auto;
}
a{
    color: white!important;
    font-weight: 700;
}
input[type="checkbox"]{
    background-color: black;
}
input[type="checkbox"] + label{
    font-weight: 700;
}
input[type="checkbox"]:checked{
    background-color: var(--bg-primary);
    border: 2px solid white;
}
input[type="checkbox"]:checked + label{
    color: white;
    font-weight: 700;
}
.nav-item > a{
    font-family: var(--font2);
    font-weight: 700;
}
.nav-item > a:hover{
    color: var(--primary)!important;
    transition: .2s ease-in-out;
}
h1{
    font-family: var(--font);
}
h2,p{
    font-family: var(--font2);
}

/* Clases */
/* Logo */
.logo-img{
    width: 4rem;
}
.active{
    color: var(--primary)!important;
}

/* Carousel */
.viewportCarousel{
    width: 100%;
    height: 47vh;
    object-fit: cover;
    background-position: center center;
/*     border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem; */
}
.bg-page{
    background-color: var(--bg-primary);
}

/* Footer */
.footer-position{
    bottom: 0;
    left: 0;
    right: 0;
}
/* viewport */
.viewport{
    height: 100vh;
}
.flex-auto1{
    flex: auto;
}
/* Hover */
.hover{
    transition: all ease-in-out .3s;
}
.hover a i:hover{
    color: var(--bg-primary);
    transform: translateY(-2px);
    transition: all ease-in-out .3s;
}
.wrapper{
    flex-wrap: wrap;
}
.card-width{
    width: 18rem;
}
.card-width > img{
    height: 10rem;
    object-fit: cover;
}
@media (min-width: 1024px) {
    .card-width{
        width: 23%;
    }
}
.effectBuy >i{
    opacity: 0;
    transition: .3s;
}
.effectBuy:hover i{
    opacity: 1;
    transition: .3s ease-in-out;
    transform: translateX(4px);
}
.texto{
    font-family: var(--font2);
}
.logo{
    font-family: var(--font);
}
.notFound{
    width: 50%;
}
.card-hover:hover{
    border-radius: 0rem!important;
    box-shadow: 0px 0px 5px 1px #0008;
}
.card-hover2:hover{
    border-radius: .676rem!important;
    box-shadow: 0px 0px 5px 1px #0008;
}
.btn-primary{
    background-color: var(--bg-primary)!important;
    position: relative;
}
.btn-primary:hover::after{
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 2rem;
    background-color: #0002!important;
}
#body{
    height: 100vh!important;
}
@media (min-width: 768px) {
    .card-style{
        width: 450px;
        height: 257px!important;
    }
}
.changeSelected > img{
    width: 3rem;
}
.pastDisable{
    pointer-events: none;
    cursor: default;
    position: relative;
    opacity: 0.5;
}
